header {
    background-color: #e96005;
    padding: 10px;
  }

  .barra-superior {
    display: flex;
    align-items: center;
}

.barra-superior img {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    margin-right: 10px;
}

.Titulo h1 {
    margin: 0;
}

/* Contenedor de misiones */
div {
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
    margin: 50px auto;
    padding: 20px;
    background-color: #d45b0bdb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

/* Barra de progreso */
.barra {
    margin-top: 15px;
}

.progreso-nivel,
.progreso-trofeos,
.progreso-generatedmemes {
    height: 20px;
    background-color: #db9834;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    line-height: 20px;
}

/* Nivel */
div:last-child {
    margin-top: 20px;
    text-align: center;
}