<body>
     <header class = fondoHeader>
        <div class="barra-superior">
            <img src="./assets/Logo/Icono_Armadillo.png" alt="Icono">
            <div class="Titulo">
                <h1>Memes Figth</h1>
            </div>
        </div>
    </header>
        <div class="bg-secondary-subtle">
            <button (click)="roadToJuegoSolitario()" class="btn btn-warning">Juego Solitario</button>
        <button (click)="roadToContraReloj()" class="btn btn-warning">Juego Multijugador (Contrarreloj)</button>
        <button (click)="roadToMemePropio()" class="btn btn-warning">Generar Meme Propio</button>
        <button (click)="roadToTienda()" class="btn btn-warning">Tienda</button>
        <button (click)="roadToMisiones()" class="btn btn-warning">Misiones</button>
        <button (click)="roadToRanking()" class="btn btn-warning">Ranking</button>
        <button (click)="roadToTrofeos()" class="btn btn-warning">Álbum</button>
        <button (click)="roadToLogros()" class="btn btn-warning">Logros</button>
        <button (click)="roadToLogin()" class="btn btn-warning">Cerrar Sesión</button>
    </div>
        </body>

